body {
    font-family: Arial, Helvetica, sans-serif;
    color: #2c3e50;
    -webkit-font-smoothing: antialiased;
}

.header {
    display: flex;
    background-color: #3498db;
    height: 80px;
}

.header_img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
}

.header_title {
    font-size: 26px;
    font-weight: bold;
    color: white;
}

.header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}


#mobile_navigation {
    margin-top: 20px;
  }

.nav_item {
  text-align: center;
}

.nav_link {
  display: block;
  padding: 20px 0;
  border-bottom: 1px solid #3498db;
  text-decoration: none;
  background-color: #3498db;
  color: white;
  border-right: 1px solid #ecf0f1;
}

.main {
    padding: 40px;
}

.figure, .figure-second {
    position: relative;
    margin: 0 auto 15px;
    max-width: 300px;
}

.figure_img {
    display: block;
    width: 100%;
    border-radius: 4px;
}

.figure_caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    color: #2c3e50;
}

.main_text {
    margin-bottom: 1em;
    line-height: 1.4em;
}

.main_quote {
    clear: both;
    margin: 30px 0;
    padding: 0 20px;
    line-height: 1.5em;
    font-style: italic;
    color: #7f8c8d;
    border-left: 4px solid #1abc9c;
}

.main_text-em {
    font-style: italic;
    margin-bottom: 1.4em;
}

.sidebar {
    display: block;
    position: relative;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
    max-width: 300px;
}

.resourcelist_title {
    background-color: #1abc9c;
    font: size: 16px;
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 20px;
}

.resourcelist {
    background-color: #ecf0f1;
    list-style: none;
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.resourcelist_item {
    line-height: 2em;
}

.resourcelist_link {
    color: red;
    text-decoration: none;
}

.resourcelist_link:hover {
    text-decoration: underline;
    color: blue;
    transition-duration: 1s;
}

.footer {
    background-color: #ecf0f1;
    margin: 0 auto;
}

.footer_text {
    color: grey;
    font-weight: bold;
    margin: 0px auto;
    padding: 35px;
}

.footer_link {
    color: red;
    text-decoration: none;
}

.footer_link:hover {
    text-decoration: underline;
    color: blue;
    transition-duration: 1s;
}

@media (min-width: 620px) {
  .nav_item {
    width: 25%;
    float: left;
  }
  
  .nav_link {
      border-left: 1px solid #3498db;
      border-bottom: 0;
  }
  
  .nav_link:hover {
    background-color: #3498db;
    text-decoration: underline;
  }
  
  #mobile_navigation {
    display: none;
  }
  
}

@media (max-width: 619px) {
  .nav_list {
    display: none;
  }
  
  .mobile_nav_list:before {
    content: '—';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 34px;
    overflow: hidden;
    height: 5px;
    padding: 0 0 11px 0;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 58px;
    line-height: 20px;
  }
  
   .mobile_nav_list {
    position: absolute;
    max-height: 45px;
    max-width: 55px;
    overflow: hidden;
    background-color: #3498db;
    z-index: 5;
  }
  
    .mobile_nav_list:hover {
    max-width: 9999px;
    max-height: 9999px;

  }
      
  .mobile_nav_item:first-child {
    margin-top: 60px;
  }
  
  .mobile_nav_item {   
    border-top: 1px solid white;

  }
  
    .mobile_nav_link {
    padding: 20px;
    text-decoration: none;
    background-color: #3498db;
    color: white;
    display: block;
    width: 150px;
    text-align: center;
  }
  
    mobile_nav_item:hover {
    text-decoration: underline;
    background-color: #3498db;
    color: white;    
  }
  
}

@media (min-width: 450px) {
    .figure {
        float: left;
        margin: 0 15px 10px 0;
    }
    .figure-second {
        float: right;
        margin: 0 0px 10px 15px;
    }
}

@media (min-width: 619px) { 

    body {
        max-width: 100%;
        margin: 0 auto;
    }

    .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3498db;
    height: 100px;
    border-bottom: 1px solid #ecf0f1;
    }

    .header_img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    border-radius: 50%;
}

    .main {
        max-width: 1200px;
        margin: 0 auto;
        padding: 50px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .sidebar {
        width: 250px;
        flex-shrink: 0;
        margin-left: 40px;
    }

}

